@{
    ViewBag.Title = "提交成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-success">简历提交成功！</h2>
            <p>我们已收到您的简历，感谢您的申请。</p>
            <a href="/" class="btn btn-primary">返回首页</a>
        </div>
    </div>
</div>
